
@media only screen and (max-width: 768px) {
    For mobile phones: [class*="col-"] {
      width: 100%;
    }
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    background-color: green;
}

.wrapper{
    background-color: green;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: 
    'hd hd hd hd hd hd hd hd hd hd hd hd'
    'mn mn mn mn mn mn mn mn mn mn mn mn'
    'ft ft ft ft ft ft ft ft ft ft ft ft'; 
    justify-content: center; 
   
}
    

.header{
    grid-area: hd;
  
}

.main{
    grid-area: mn;

    width: 100%;
    min-height: 500px;
}

.container{
    width: 100%;
    min-height: 500px;
   /*  display: flex;
    flex-direction: column;  */
    display: grid;
    
    grid-template-areas: 'ab ab ab ab ab ab ab abc abc abc abc abc'
                        'gic gic gic gic gic gi gi gi gi gi gi gi'
                        'ct ct ct ct ct ct ct ctc ctc ctc ctc ctc'
                        'mdc mdc mdc mdc mdc md md md md md md md';

    background-color: red;
    border: 4px solid red;
}

.about-title{
    grid-area: ab;
}
.about-content{
    grid-area: abc;
}
.getInvolved-title{
    grid-area: gi;
}
.getInvolved-content{
    grid-area: gic;
}
.contact-title{
    grid-area: ct;
}
.contact-content{
    grid-area: ctc;
}
.media-title{
    grid-area: md;
}
.media-content{
    grid-area: mdc;
}
.container section{
  /*   width: 100%;
    min-height: 100px;
    background-color: blanchedalmond;
    border: solid black 1px; */
}


.container section div{
    width:50%;
}


.footer{
    grid-area: ft;
}

.nav{
    width: 100%;
    height: 20vh;
    background-color: aqua;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 15px;
    


}

.logo-box{
    /* width: 100px;
    height: 100px;
    border-radius: 50%; */ */
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%; 
}

.right-nav{

}

.nav-link-box{
    /* display: flex; */

}

.left-nav{
    padding-left: ;
    margin-right: 15rem;
   
}

ul{
    list-style-type: none;
}

li{
    display: inline-block;
    padding: 1.5rem;
}

.right-nav{
    padding: 1.5rem;
}

input{
    margin-right: 3rem;
}





.footer{
    width: 100%;
    height: 70vh;
   
}

.last{

}

.item4{

}

h2{

}

h3 {}




